.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gray;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  margin: 0 auto;

  .about-container h1 {
    font-size: 3rem;
    font-weight: bold; 
    text-align: center;
    color: $darkgray;
    margin-bottom: 20px;
  }

  .about-content {
    width: 1300px;
    background-color: $white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: $green;
      margin-bottom: 15px;
    }

    .about-content p {
      font-size: 1.2rem;
      line-height: 1.6;
      color: $darkgray;
      margin-bottom: 20px;
    }

    .about-content h3 {
      color: $darkgray;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 30px;
    }

    .about-content p:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    

    .about-container h1 {
      font-size: 2rem; 
      margin-bottom: 15px;
      margin-right: 20px;
      margin-left: 20px;
    }

    .about-content {
      width: 90%; 
      padding: 20px; 

      h2 {
        font-size: 1.5rem; 
        margin-bottom: 20px;
      }

      p {
        font-size: 1rem; 
      }

      h3 {
        font-size: 1.25rem; 
        margin-top: 25px; 
      }
    }
  }
}
