.contact-container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  margin: 0 auto;
  background-color: $gray;
  

  .contact-title {
    text-align: center;
    font-size: 2.5em;
    color: $green;
    margin-bottom: 40px;
  }


  .contact-info {
    text-align: center;
    margin-bottom: 40px;

    .contact-info h2 {
      font-size: 1.8em;
      margin-bottom: 20px;
      color: $darkgray;
    }

    .contact-info h3 {
      list-style-type: none;
      padding: 0;
      font-size: 1.2em;
      color: $darkgray;
    }
  }
  
  .ubicacion-mapa {
    font-size: 1.8em;
    color: $darkgray;
    text-align: center;
     margin-bottom: 20px;

      .iframe {
        border: none;
        border-radius: 10px;
      }
    }
  }


  .mensaje-clientes {
    background-color: #dedede;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
  
    .mensaje-clientes h2 {
      font-size: 1.8em;
      margin-bottom: 20px;
      color: $green;
  
    }



    @media (max-width: 768px) {
      
  
      .contact-title {
        width: 90%;
        font-size: 2em; 
        margin-bottom: 20px; 
        margin-left: 0px;
      }
  
      .contact-info {
        margin-bottom: 20px; 
  
        .contact-info h2 {
          font-size: 1.5em; 
          margin-bottom: 10px; 
        }
  
        .contact-info h3 {
          font-size: 1em; 
        }
      }
  
      .ubicacion-mapa {
        font-size: 1.5em; 
        margin-bottom: 10px;
      }
  
      .mensaje-clientes {
        padding: 15px; 
        margin-bottom: 20px; 
  
        .mensaje-clientes h2 {
          font-size: 1.5em; 
          margin-bottom: 10px; 
        }
      }
    }

  }
  









