.budget-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
  background-color: $gray;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .budget-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: $darkgray;
  }

  .budget-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .form-group {
      margin-bottom: 15px;

      label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color: $darkgray;
      }

      .form-control {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid $white;
        border-radius: 5px;
        box-sizing: border-box;

        &:focus {
          border-color: $green;
          outline: none;
        }
      }

      textarea.form-control {
        height: 100px;
      }

      .form-select {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid $white;
        border-radius: 5px;
        box-sizing: border-box;

        .react-dropdown-select-content {
          padding: 10px;
          border: 1px solid $white;
          border-radius: 5px;
        }
      }
    }

    .btn-submit {
      background-color: $green;
      color: $white;
      padding: 10px 20px;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        background-color: $green;
      }
    }
  }

  @media (max-width: 768px) {
    max-width: 100%; 
    padding: 15px; 
    margin-left: 20px;
    margin-right: 20px;

    .budget-title {
      font-size: 1.75em; 
      margin-bottom: 15px; 
    }

    .budget-form {
      .form-group {
        margin-bottom: 10px; 

        label {
          font-size: 0.9em; 
        }

        .form-control, .form-select {
          padding: 8px; 
          font-size: 0.9em; 
        }
      }

      .btn-submit {
        font-size: 1em; 
        padding: 8px 16px; 
      }
    }
  }
}
